body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: #000000;
}
body div#gameContainer {
  text-align: center;
}
body div#gameContainer canvas {
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}
body div#gameContainer div#lapTime {
  position: absolute;
  z-index: 10;
  top: 244px;
  right: 511px;
  color: #FFF;
}
body div#gameContainer div#bestLapTime {
  position: absolute;
  z-index: 10;
  top: 264px;
  right: 504px;
  color: #FF0;
  font-weight: bold;
}
body div#gameContainer #info {
  top: 10px;
  left: 10px;
  position: absolute;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
body div#gameContainer #info span {
  color: black;
}
